#!/usr/bin/make -f

export CMAKE_BUILD_DIR := $(CURDIR)/build
LIBUBCTL_VERSION := $(shell dpkg-parsechangelog -S Version | cut -d- -f1)
%:
	dh $@ --buildsystem=cmake --builddirectory=$(CMAKE_BUILD_DIR)

override_dh_auto_configure:
	dh_auto_configure -- \
		-DCMAKE_INSTALL_PREFIX=/usr \
		-DCMAKE_INSTALL_LIBDIR=bin/$(DEB_HOST_MULTIARCH) \
		-DCMAKE_BUILD_TYPE=Release

override_dh_auto_build:
	dh_auto_build --buildsystem=cmake --builddirectory=build -- -j$(nproc)

override_dh_auto_install:
	dh_auto_install -- DESTDIR=$(CURDIR)/debian/tmp
